/*.contact-form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} */

.contact-form .main-button.-contactBtn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 100%;
  padding: auto;
}
