.main-description {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 39px;
  color: #ffffff;

  display: flex;
  text-align: justify;
  width: 1280px;
  height: 312px;
  margin-left: auto;
  margin-right: auto;
}
