.main-section {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #40407a;
  border-bottom: 10px solid #cf2250;
}

.main-section.-second {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #000;
  border-bottom: 10px solid #40407a;
}

.main-section .main-title {
  margin-bottom: 60px;
}
