.node-card {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.node-card::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  height: 0px;
  width: 40px;
  border: 2.5px dashed #000;
  transform: rotate(90deg) translateX(-62%);
  bottom: 140px;
}

.node-card .title {
  color: #40407a;
  font-size: 25px;
  font-weight: 400;
  font-family: "Press Start 2P", sans-serif;
  margin-bottom: 50px;
}

.node-card .logo {
  display: flex;
  align-items: center;
  background-color: #ceb02a;
  height: 140px;
  border: 5px solid #000000;
  padding-left: 20px;
  padding-right: 20px;
}
